* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: linear-gradient(rgba(25, 118, 210, .25), rgba(149, 108, 64, .45));
}

#root {
    height: 100%;
}